* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* regular font */
@font-face {
  font-family: "Junction";
  src: url("/fonts/junction-master/webfonts/junction-regular.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

/* italic font */
@font-face {
  font-family: "Junction";
  src: url("/fonts/junction-master/webfonts/junction-light.woff") format("woff");
  font-style: italic;
  font-weight: 300;
}

/* headline & bold font */
@font-face {
  font-family: "Junction";
  src: url("/fonts/junction-master/webfonts/junction-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

body {
  background-color: #f3f3f3;
  color: #000002;
  font-family: "Junction", sans-serif;
  font-weight: 300;
  /* this sets the font size for the entire page */
  font-size: 18px;
  padding: 50px 0;
  width: 80%;
  max-width: 1000px;
  margin: auto;
}

nav,
footer {
  text-align: right;
}

footer {
  position: fixed;
  bottom: 25px;
  /* bottom was 50px */
  width: 80%;
  max-width: 1000px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Junction", sans-serif;
  font-style: normal;
  padding: 75px 25px 15px 25px;
}

h1 {
  font-weight: 700;
  font-size: 2em;
  border-bottom: 1px solid #000002;
}

h2 {
  font-size: 1.6em;
}

ul,
li {
  display: inline;
}

p {
  padding: 50px 0 25px 0;
  text-align: justify;
  line-height: 1.5em;
  /* border: 1px solid red; */
}

a:link {
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid;
  margin: 2.5px;
  line-height: 2.5em;
  color: #C97082;
}

/* This is for the head title link color */
.title {
  background-color: #66cfd2;
  padding: 10px 0;
}

a:visited {
  color: #C97082;
}

a:hover {
  background-color: #2E629C;
}

a:active {
  color: #f3f3f3;
}

strong {
  font-weight: 700;
}

/* images */
img {
  max-width: 100%;
  height: auto;
}

.bio img {
  border-radius: 5px;
}

figcaption {
  width: 300px;
  padding: 20px;
}

.bio a {
  margin: 15px;
}

.gallery {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.gallery-item {
  margin: 10px;
}

.gallery-item .thumbnail {
  border: 1px solid #000002;
  border-radius: 5px;
  width: 291px;
}

.friendsGrid {
  display: grid;
  grid-template: repeat(3, 33em) / repeat(auto-fit, minmax(15em, 1fr));
  grid-auto-rows: 33em;
  grid-gap: 10px;
}

@media all and (max-device-width: 480px) {

  /* Your CSS rules for your mobile phones here */
  /* img {
    display: block;
  } */
}