* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* regular font */
@font-face {
  font-family: "Junction";
  src: url("/fonts/junction-regular.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

/* italic font */
@font-face {
  font-family: "Junction";
  src: url("/fonts/junction-light.woff") format("woff");
  font-style: italic;
  font-weight: 300;
}

/* headline & bold font */
@font-face {
  font-family: "Junction";
  src: url("/fonts/junction-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

body {
  background-color: #f3f3f3;
  color: #000002;
  font-family: "Junction", sans-serif;
  font-weight: 300;
  /* this sets the font size for the entire page */
  font-size: 18px;
  padding: 50px 0;
  width: 80%;
  max-width: 1000px;
  margin: auto;
}

nav,
footer {
  text-align: right;
}

footer {
  position: fixed;
  bottom: 25px;
  width: 80%;
  max-width: 1000px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Junction", sans-serif;
  font-style: normal;
  line-height: 1.5em;
  padding: 75px 25px 15px 25px;
}

h1 {
  font-weight: 700;
  font-size: 2em;
  border-bottom: 1px solid #000002;
}

h2 {
  font-size: 1.6em;
}

ul,
li {
  display: inline;
}

p {
  padding: 50px 0 25px 0;
  text-align: justify;
  line-height: 2.2em;
}

time {
  display: block;
  padding: 15px 25px 50px 25px;
}

a:link {
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid;
  margin: 2.5px;
  line-height: 2.5em;
  color: #C97082;
}

/* This is for the head title link color */
.title {
  background-color: #66cfd2;
  padding: 10px 0;
}

a:visited {
  color: #C97082;
}

a:hover {
  background-color: #2E629C;
}

a:active {
  color: #f3f3f3;
}

strong {
  font-weight: 700;
}

/* Images */
img {
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}

figcaption {
  width: 300px;
  padding: 20px;
}

article figcaption {
  width: 600px;
}

.friendsGrid .bio a {
  margin: 2.5px;
}

.litParagraph {
  background-color: lightgray;
  padding: 20px;
  line-height: 1.1em;
  max-width: 100%;
  height: auto;
}

/* Nav Flexbox */
.navFlex {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.navFlexItem {
  margin: 10px;
}

.navFlexItem .fingernail {
  /* border: 1px solid #000002;
  border-radius: 5px; */
}

/* Art Flexbox */
.gallery {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.gallery-item {
  margin: 10px;
}

.gallery-item .thumbnail {
  border: 1px solid #000002;
  border-radius: 5px;
}

/* Members Grid */
.friendsGrid {
  display: grid;
  grid-template: repeat(3, 33em) / repeat(auto-fit, minmax(15em, 1fr));
  grid-auto-rows: 33em;
  grid-gap: 10px;
}

/* Videos */
.responsive-vid {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 0;
  height: 0;
}

.responsive-vid iframe,
.responsive-vid video {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 93%;
  height: 93%;
  border-radius: 5px;
  border: 1px solid #000002;
}