/* regular font */
@font-face {
  font-family: "Junction";
  src: url("/fonts/junction-master/webfonts/junction-regular.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

/* italic font */
@font-face {
  font-family: "Junction";
  src: url("/fonts/junction-master/webfonts/junction-light.woff") format("woff");
  font-style: italic;
  font-weight: 300;
}

/* headline & bold font */
@font-face {
  font-family: "Junction";
  src: url("/fonts/junction-master/webfonts/junction-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

body {
  background-color: #f3f3f3;
  color: #000002;
  font-family: "Junction", sans-serif;
  font-weight: 300;
  /* this sets the font size for the entire page */
  font-size: 20px;
  padding: 50px;
}

nav,
footer {
  text-align: right;
}

footer {
  position: fixed;
  bottom: 50px;
  left: -50px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Junction", sans-serif;
  font-style: normal;
  padding: 25px;
  border-bottom: 1px solid #000002;
}

h1 {
  background-color: #66cfd2;
  font-weight: 700;
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

ul,
li {
  display: inline;
}

a {
  text-decoration: none;
}